<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Basic HTML Form</title>
  <meta name="description" content="Basic HTML Form">
  <meta name="author" content="Tyler Nix">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>
  <div id="app">
    <div class="container">
      <h1>Example form</h1>
      <form v-on:submit.prevent="submitForm" class="mb-2">
        <div class="form-group">
          <label for="exampleFormControlInput1">Email address</label>
          <input type="email" class="form-control" placeholder="name@example.com" v-model="form.email">
        </div>
        <div class="form-group">
          <label>Name</label>
          <div class="row">
            <div class="col">
              <input class="form-control" placeholder="First name" v-model="form.firstName">
            </div>
            <div class="col">
              <input class="form-control" placeholder="Last name" v-model="form.lastName">
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="exampleFormControlSelect1">Example select</label>
          <select class="form-control" v-model="form.number">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
          </select>
        </div>
        <div class="form-group">
          <label for="exampleFormControlTextarea1">Example textarea</label>
          <textarea class="form-control" v-model="form.textarea" rows="3"></textarea>
        </div>
        <button class="btn btn-primary" type="submit">Submit</button>
      </form>
      <hr />
      <pre class="alert alert-primary">Form data: {{ form }}</pre>
      <pre class="alert alert-success">API response: {{ info }}</pre>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
<script>
  var app = new Vue({
    el: '#app',
    data: {
      form: {
        firstName: '',
        lastName: '',
        email: '',
        number: '',
        textarea: '',
      },
      info: ''
    },
    methods: {
        submitForm: function(e) {
          axios
          .get('https://api.coindesk.com/v1/bpi/currentprice.json')
          .then(response => (this.info = response))
      }
    }
  })
</script>
</html>